:root {
  --background: #ffffff;
  --foreground: #171717;
  --accent: #426e4e;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Inter, system-ui, sans-serif;
  font-size: 1.1rem;
  line-height: 1.8rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: var(--accent);
  font-weight: 600;
  transition:
    color 0.3s ease,
    transform 0.3s ease;
}

a:hover {
  text-decoration: underline;
  color: darken(var(--accent), 15%);
}

.cc-license {
  color: inherit !important;
  transition: none !important;
  text-decoration: none !important;
}

.container {
  animation: fadeIn 0.5s ease-in-out;
}

.font-italic {
  font-style: italic;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* 1024 and above */
@media screen and (min-width: 1024px) {
  .container {
    /* Limit max container width in wide view */
    max-width: 720px !important;
  }
}
